body {
	margin: 0px;
	padding: 0px;
	background-color: #e6e8ed;
}


#contentContainer{
	width: 2100px;
	height: 1200px;
	cursor: pointer;
	background-color: white;
	overflow: hidden;
	margin: auto;
	border: 10px #f2f2f2 solid;
}


#mainItem {

	width: 550px;
	height: 475px;
	background-color: #e8935a;
	/*margin: 10px auto;*/
	transform: translate3d(50px, 50px, 0);
	transition: transform .8s cubic-bezier(.45,1,.52,1.18);


}




