.panorama {
	width: 100%;
	height: 800px;
	position: relative;
	background-color: black;
	margin: 0px auto;
}


#pano_image {
	background-image: url('./images/Controlroom_hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 5000px;
	height: 3000px;
	cursor: pointer;
	transform: translate3d(0px, 0px, 0);
	transition: transform .8s cubic-bezier(.45,1,.52,1.18);

.p_container {
	overflow: hidden;
}